body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    padding-left: 35%;
    padding-top: 10px;
  }
input{
    outline: none;
    font-size:34px;
    height: 65px;
    background-color: rgb(56, 53, 53);
    color: white;
}
button{
    width: 102px;
    height: 90px;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
button:hover {
    background-color: rgba(255, 255, 255, .9);
}
#RED{
    background-color: rgb(224, 62, 62);
}